# Настройки модели GroupShuffleGNN

model:
  name: "GroupShuffleGNN"
  embedding_dim: 64
  n_layers: 3
  
  # Group & Shuffle параметры
  block_size: 32
  residual_alpha: 0.1
  
  # Инициализация
  init_method: "xavier_uniform"

